/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 25, 2020, 9:46:06 PM
    Author     : mirandabeamer
*/
/*
*/
/*body {
    background-color: #008280;
}

.container {
    background-color: #EBECf0;
    display: table;
}

table{
    background-color: #EBECf0;
}

#newsfeed-table {
    background-color: #EBECf0;
}*/